/*
This CSS file is for index.html HTML-page-Ross-Wen
*/

body {
  background-color: beige;
}

h1 {
  background: blue;
  color: tomato;
  padding: 40px;
  text-align: center;
  }

p {
  color: dodgerblue;
}
